.card-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .card-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav-link active{
    font-family:Georgia, 'Times New Roman', Times, serif ;
  }
  .nav-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav-link dropdown-toggle{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .card-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .card-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;