.body {
    background-color
  }
  .about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
  }
  .imgcenter {
    border-radius: 0.9rem;
    display: block;
    margin: 0px auto;
    text-align: left;
    width: 150px;
    height: 200px;
  }
  .about-text h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  .about-text p {
    font-family:'Times New Roman', Times, serif
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
  }
  .card-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .card-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbar-brand{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .nav-link active{
    font-family: 'Times New Roman', Times, serif;
    text-align:right
  }
  .nav-link{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:right
  }
  
